.article-card {
    border: 2px solid red;
}

.card {
    display: grid;
    grid-template-areas: 
        "img title title title more"
        "img author topic votes comments";
    border: 1px solid black;
}

img {
    width: 7em;
    height: 7em;
    grid-area: img;
}

.title {
    grid-area: title;
}

.author {
    grid-area: author;
}

.votes {
    grid-area: votes;
}

.more {
    grid-area: more;
}

.comment-count {
    grid-area: comments;
}

.topic {
    grid-area: topic;
}

ul {
    list-style: none;
}