.comment-card {
    border: 1px solid black;
    display: grid;
    grid-template-areas:
        "avatar posted posted upvote"
        "avatar body body delete";
}

.avatar {
    grid-area: avatar;
}

.posted-details {
    grid-area: posted;
}

.comment-body {
    grid-area: body;
}

.upvote {
    grid-area: upvote;
}

.delete {
    grid-area: delete;
}

.deleting {
    opacity: 0.5;
}